.networkCanvas{
  margin-top: 5%;
  background-color: #FFFFFF;
}

.sliders{
  margin-top: 0%;
  background: #787878;
  width:100%;
  flex-basis: 33%;
}

.slider{
  margin-left: 10%
}

/* .selects{
  border: solid 1px;
  border-color: black;
  border-top: 0px;
  background: #797979;
  color: "black";
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selectSearch{
  flex-basis: 25%;
  margin: auto;
  color: "black";
  text-align: center;
} */
