.grid{
  margin: 100px 0 0;
  line-height: 0;
}

.buttons{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  margin-left: 0;
}
button{
 margin-top: 5%;
 padding: 15px 32px;
 display:inline-block;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 font-size: 20px;
 color:white;
 text-align:center;
 transition: all 0.2s;
 background-color: #e7e7e7;
}

button:hover {
  background-color: green;
  color:white;
}

button:disabled{
  background-color: lightgrey;
}
