.array-container{
  margin-top : 5%;
}

.sliders{
  margin-top: 0%;
  background: #787878;
  display: flex;
  flex-direction: row;
  align-items: center;
  width:100%;
  height: 100%;

  flex-basis: 33%;
  text-align: center;
}

.slider{
  background: #d3d3d3;
  align-items: center;
}

.buttons{
  margin-top: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  margin-left: 0;
}

label {
  font-size: 20px;
  align-items: center;
}

.b{
 margin-top: 0;
 flex-basis: 5%;
 padding: 15px 32px;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 font-size: 20px;
 color:white;
 text-align:center;
 transition: all 0.2s;
 background-color: #e7e7e7;
}

.bbreak{
  margin-top: 0;
  padding: 15px 32px;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  font-size: 20px;
  color:white;
  text-align:center;
  transition: all 0.2s;
  background-color: #e7e7e7;
}

.b:hover {
  background-color: green;
  color:white;
}

.b:disabled{
  background-color: lightgrey;
}

.sortCanvas{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
